.faq-wrapper{
    display: flex;
    flex:1;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 2%;
}
.questions-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:10rem;
    row-gap: 3rem;
    margin-top:4%;
}

@media (min-width:900px) and  (max-width:1578px){
 .questions-container{
    display: flex;
    justify-content: center;
    align-items: center;
 }
}

@media (max-width:750px){
    .questions-container{
        margin-top:15%;
        margin-left:-17%
    }
}
@media (max-width:550px){
    .questions-container{
        margin-left: -25%;
    }
}